*{
    margin: 0;
}

:root {
    /* Colors */
    --dark: #171717;
    --darker: #000000;
    --light: #F9F9F9;
    --background: #bac5c626;
    --white: #ffffff;
    --grey: #bac5c6;
    --grey-light: #e2e6e9;
    --grey-medium: #5e7273;
    --grey-dark: #292c2f;
    --red-harvard: #a51c30;
    --accent: #5adac8;
    --accent-dark: #1fd2b9;
    --accent-highlight: #5adac9c7;
    --green: #18d28b;
    /* --blue: #5777F3; */
    --blue: #4b70ff;
    --red: #FF444E;
    --red-highlight: #FCD9D9;
    /* Shadow */
    --shadow: #bac5c666;
    /* Fonts */
    --font-paragraph-Xsmall: normal normal 400 14px/1.4 'Source Sans Pro', sans-serif;
    --font-paragraph-Xsmall-bold: normal normal 600 14px/1.4 'Source Sans Pro', sans-serif;
    --font-paragraph-small: normal normal 400 15px/1.4 'Source Sans Pro', sans-serif;
    --font-paragraph: normal normal 400 16px/1.5 'Source Sans Pro', sans-serif;
    --font-paragraph-large: normal normal 400 18px/1.5 'Source Sans Pro', sans-serif;
    --font-paragraph-bold: normal normal 600 16px/1.5 'Source Sans Pro', sans-serif;
    --font-paragraph-large-bold: normal normal 600 18px/1.5 'Source Sans Pro', sans-serif;
    --font-heading-1: normal normal normal 60px/1.2 'Crete Round', serif;
    --font-heading-2: normal normal normal 2rem/1.2 'Crete Round', serif;
    --font-heading-3: normal normal 600 20px/1.2 'Source Sans Pro', serif;
    --font-heading-3-serif: normal normal normal 20px/1.2 'Crete Round', serif;
  }

  a,
  a:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }


/* --------- Branding Header --------- */

.branding_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 40px;
    background-color: var(--dark);
  }
  
  .branding_header img {
    height: 28px;
    width: auto;
    margin: 0;
  }
  
  .branding_header a {
    padding: 3px 24px;
    border-radius: 100px;
    color: var(--light);
    background-color: var(--grey-dark);
  }
  
  .branding_header a:hover {
    color: var(--light);
    background-color: var(--darker);
  }
  
  @media (max-width: 768px) {
    .branding_header {
      padding: 0 16px;
    }
    .branding_header a {
      padding: 3px 15px;
    }
  }
  


 /* --------- Footer --------- */

footer {
    color: var(--dark);
    margin-top: auto;
    border-top: 1px solid var(--grey);
    background-color: var(--light);
  }
  
  
  /* --------- Footer --------- */
  
  
  /* --------- Bottom Nav --------- */
  
  .bottom-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 50px 70px;
    background-color: var(--light);
  }
  
  .bottom-nav-signature-link {
    width: 450px;
  }
  
  .bottom-nav-signature-link img {
    width: 100%;
  }
  
  .bottom-nav-signature-link p {
    margin-top: 15px;
    margin-left: 53px;
  }
  
  @media (max-width: 940px) {
    .bottom-nav {
      flex-direction: column;
    }
    .bottom-nav .nav-links {
      margin-left: 47px;
    }
  }
  
  @media (max-width: 768px) {
    .bottom-nav {
      padding: 50px 16px;
    }
    .bottom-nav-signature-link img {
      width: 400px;
    }
    .bottom-nav-signature-link p {
      margin-left: 47px;
    }
    .bottom-nav .nav-links {
      margin-left: 41px;
    }
  }
  
  
  /* --------- Bottom Nav --------- */
  
  
  /* --------- Branding Footer --------- */
  
  .branding-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 70px;
    background-color: var(--dark);
  }
  
  .branding-footer .copyright {
    width: fit-content;
  }
  
  .branding-footer .copyright p {
    margin-bottom: 0;
    color: var(--light);
  }
  
  .branding-footer-socials use {
    fill: var(--grey);
  }
  
  .branding-footer-socials a:hover use {
    fill: var(--light);
  }
  
  .branding-footer-socials a {
    display: inline-block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
  }
  
  @media (max-width: 768px) {
    .branding-footer {
      padding: 10px 16px;
    }
    .branding-footer .copyright {
      max-width: 60%;
    }
  } 
   
p a,
li a {
  background: linear-gradient( to bottom, transparent 50%, var(--accent-highlight) 50%);
}

p a:hover,
li a:hover {
  background: linear-gradient( to bottom, transparent 50%, var(--accent) 50%);
}



/* Top options area */
.content-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

.scale{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.active:after {
    background-color: #008fb3 !important;
}

.pointer {
    cursor: pointer;
}

.top-area
{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: 
       linear-gradient(#374FDE,#4bde37) top left/20px 20px border-box, 
       linear-gradient(#374FDE,#de3756) top right/20px 20px border-box,
       linear-gradient(#56de37, #de3756) bottom left/20px 20px border-box, 
       linear-gradient(#56de37,#de3756) bottom right/20px 20px border-box;
    background-repeat:no-repeat;
    border-radius: 10px;
    border:5px solid transparent;
    box-sizing: border-box;

}


.option-container
{
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 0px;
}

.option-header
{
    text-align: center;
}

.option-body
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

/* CSS Button source:
https://codepen.io/alticreation/pen/zBZwOP
 */
button {
    padding: 0.5rem 0.5rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
}
button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}
button:hover {
    cursor: pointer;
    color: #fff;
}
button:hover:before {
    width: 100%;
}


.container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 50vh;
}

.node rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
}
.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}
.arrow {
    font-size: 3em;
}
.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
    padding: 2vh;
}
.metric-container {
    padding: 2vh;
    margin: 3vh;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 3vh;
    margin-left: 3vh;
}
.legend-title {
    text-decoration: underline;
    text-decoration-color:rgb(0, 180, 141);
    text-decoration-thickness: 2px;
    margin-left: 5vh;
    margin-bottom: 0;
    padding-bottom: 0;
}
.l-info {
    font-size: 0.8em;
}
.bottom-nav {
    margin: 3vh;
    margin-bottom: 1vh;
}
.legend-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.aq-arrow {
    color: rgb(2, 214, 168);
}
.metric {
    font-size: 1.1em;
}
.link:hover {
    stroke-opacity: .5;
}
.diagram .force .detail {
    display: inline-block;
    margin: 0 auto;
}
.creator-link {
    color: rgb(255, 255, 255);
}
#detail-diagram {
    margin: 0;
    padding: 0;
}
#sankey-diagram {
    padding: 5vh;
    padding-bottom: 4vh;
}
.reset-btn {
    text-align: center;
    border: none;
    background-color: aliceblue;
    font-size: 1em;
    padding: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    border-radius: 30px;
    border: 2px solid rgb(156, 209, 255);
    margin-bottom: 4vh;
}
.reset-btn:hover {
    background-color: rgb(96, 181, 255);
    color: white;
    transition: 0.3s;
}
.nav-wrapper {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    margin-bottom: 10vh;
    align-items: center;
}
.link {
    text-decoration: none;
    color: rgb(43, 109, 195);
    border-radius: 5px;
}
.link-1 {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}