*{
    margin: 0;
    background-color: aliceblue;
}

/* Top options area */
.content-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: aliceblue;
}

.top-area
{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: 
       linear-gradient(#374FDE,#4bde37) top left/20px 20px border-box, 
       linear-gradient(#374FDE,#de3756) top right/20px 20px border-box,
       linear-gradient(#56de37, #de3756) bottom left/20px 20px border-box, 
       linear-gradient(#56de37,#de3756) bottom right/20px 20px border-box;
    background-repeat:no-repeat;
    border-radius: 10px;
    border:5px solid transparent;
    box-sizing: border-box;

}


.option-container
{
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 0px;
}

.option-header
{
    text-align: center;
}

.option-body
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

/* CSS Button source:
https://codepen.io/alticreation/pen/zBZwOP
 */
button {
    padding: 0.5rem 0.5rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
}
button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}
button:hover {
    cursor: pointer;
    color: #fff;
}
button:hover:before {
    width: 100%;
}


.container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

node rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
}
.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}
.arrow {
    font-size: 3em;
}
.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
    padding: 2vh;
}
.metric-container {
    padding: 2vh;
    margin: 3vh;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 3vh;
    margin-left: 3vh;
}
.legend-title {
    text-decoration: underline;
    text-decoration-color:rgb(0, 180, 141);
    text-decoration-thickness: 2px;
    margin-left: 5vh;
    margin-bottom: 0;
    padding-bottom: 0;
}
.l-info {
    font-size: 0.8em;
}
.bottom-nav {
    margin: 3vh;
    margin-bottom: 1vh;
}
.legend-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.aq-arrow {
    color: rgb(2, 214, 168);
}
.metric {
    font-size: 1.1em;
}
.link:hover {
    stroke-opacity: .5;
}
.diagram .force .detail {
    display: inline-block;
    margin: 0 auto;
}
.creator-link {
    color: rgb(255, 255, 255);
}
#detail-diagram {
    margin: 0;
    padding: 0;
}
#sankey-diagram {
    padding: 5vh;
    padding-bottom: 4vh;
}
.reset-btn {
    text-align: center;
    border: none;
    background-color: aliceblue;
    font-size: 1em;
    padding: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    border-radius: 30px;
    border: 2px solid rgb(156, 209, 255);
    margin-bottom: 4vh;
}
.reset-btn:hover {
    background-color: rgb(96, 181, 255);
    color: white;
    transition: 0.3s;
}
.nav-wrapper {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    margin-bottom: 10vh;
    align-items: center;
}
.link {
    text-decoration: none;
    color: rgb(43, 109, 195);
    border-radius: 5px;
}
.link-1 {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}