@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap');

.mmca-page {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    font-size: 3em;
}
.subtitle {
    font-weight: normal;
}
.intro-txt {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 0vh;
}
.rep-img {
    display: flex;
    flex-direction: row;
} 
.img {
    height: 5vh;
    padding-right: 3vh;
}
.intro, .purpose {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 4vh;
}
.purpose {
    width: 70%;
    text-align: center;
    line-height: 2em;
    margin-bottom: 3vh;
    margin-bottom: 6vh;
}
.p-txt {
    font-weight: normal;
}
.legend {
    text-align: left;
    background-color: rgba(253, 232, 208, 0.829);
    border-radius: 10px;
    padding: 4vh;
    margin-top: 6vh;
    margin-bottom: 0;
}
.dev-txt {
    font-size: 0.9em;
    background-color: rgb(230, 142, 2);
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 25px;
    color: #fff;
    width: fit-content;
    margin: 4vh;
}
.links { 
    stroke: rgb(0, 0, 0); 
    stroke-opacity: 0.6; 
    stroke-width: 1px; 
    stroke-dasharray: 0,0;
}
text {
    pointer-events: none;
    fill: #000;
    font: 10px sans-serif;
}
@media only screen and (max-width: 768px) {
    .intro-txt {
        flex-direction: column;
    }
    .title {
        margin: 0;
        padding: 0;
    }
    .subtitle {
        padding-bottom: 5vh;
    }
}