@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap');

.mmca-page {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title {
    font-size: 3em;
}
.subtitle {
    font-weight: normal;
    text-align: center;
}
.intro-txt {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rep-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 8vh;
    margin-bottom: 5vh;
} 
.img {
    height: 5vh;
    padding-right: 3vh;
}
.intro, .purpose {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.purpose {
    width: 100%;
    text-align: left;
    line-height: 2em;
    margin-bottom: 4vh;
}
.purpose-container {
    width: 70%;
    text-align: center;
}
.p-txt {
    font-weight: normal;
    padding: 4vh;
}
.legend {
    text-align: left;
    background-color: rgba(238, 238, 238, 0.829);
    border-radius: 10px;
    margin-bottom: 0;
    width: 80%;
    padding: 4vh;
    margin-top: 4vh;
}
.dev-txt {
    font-size: 0.9em;
    background-color: rgb(66, 153, 252);
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 25px;
    color: #fff;
    width: fit-content;
}
.links { 
    stroke: rgb(0, 0, 0); 
    stroke-opacity: 0.6; 
    stroke-width: 1px; 
    stroke-dasharray: 0,0;
}
text {
    pointer-events: none;
    fill: #000;
    font: 10px sans-serif;
}
.node rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
}
.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}
.arrow {
    font-size: 3em;
}
.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
    padding: 2vh;
}
.metric-container {
    padding: 2vh;
    margin: 3vh;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 3vh;
    margin-left: 3vh;
}
.legend-title {
    text-decoration: underline;
    text-decoration-color:rgb(0, 180, 141);
    text-decoration-thickness: 2px;
    margin-left: 5vh;
    margin-bottom: 0;
    padding-bottom: 0;
}
.l-info {
    font-size: 0.8em;
}
.bottom-nav {
    margin: 3vh;
    margin-bottom: 1vh;
}
.legend-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.aq-arrow {
    color: rgb(2, 214, 168);
}
.metric {
    font-size: 1.1em;
}
.link:hover {
    stroke-opacity: .5;
}
.diagram .force .detail {
    display: inline-block;
    margin: 0 auto;
}
.creator-link {
    color: rgb(4, 59, 110);
}
#sankey-diagram {
    padding: 5vh;
    padding-bottom: 4vh;
}
/* #sankey-diagram {
    background-color: rgb(0, 0, 0);
    margin-top: 2vh;
    padding: 5vh;
    border-radius: 10px;
}
#force-layout-diagram {
    background-color: rgb(0, 0, 0);
} */
.reset-btn {
    text-align: center;
    border: none;
    background-color: aliceblue;
    font-size: 1em;
    padding: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    border-radius: 30px;
    border: 2px solid rgb(156, 209, 255);
    margin-bottom: 4vh;
}
.reset-btn:hover {
    background-color: rgb(96, 181, 255);
    color: white;
    transition: 0.3s;
}
.nav-wrapper {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    margin-bottom: 10vh;
    align-items: center;
}
.link {
    text-decoration: none;
    color: rgb(43, 109, 195);
    border-radius: 5px;
}
.link-1 {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
@media only screen and (max-width: 768px) {
    .intro-txt {
        flex-direction: column;
    }
    .title {
        margin: 0;
        padding: 0;
    }
    .subtitle {
        padding-bottom: 5vh;
    }
    .nav-wrapper {
        flex-direction: column;
    }
}
